<!--
  Generated template for the Destination page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Choose Destination</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>



<ion-content padding>
<ion-list>
  <ion-item *ngFor="let item of items">
    <h1>{{ item }}</h1>
    <br>
    <h4>Indonesia</h4>
  </ion-item>
</ion-list>
</ion-content>
